<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior DevOps Consultant</h3>
                            <div class="time">Dec 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><img src="assets/images/Tiny_Earth.png" alt="GE Image"> New Context </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Provide Technical solutions for the Cloud Automation and Provisioning team by leveraging Terraform for provisioning new infrastructure in AWS.</p>
                        <p>Develop and Implement Terraform VPC module consisting of the following resources: VPC , IG , NATs , Public/Prvite Routing , Subnetting , Security Groups , NTP Pool , and Peering between other Predix VPCs.
                        <p>Lead Developement for the CAP - AWS Account Manager Bot. Leveraged Python + Botocore + Kitchen-Terraform + Terraform to manage AWS IAM resources across 40+ AWS accounts.</p>
                        <p>Provide Technical solutions for Cloud Automation and Provisioning team by leveraging Chef Automation for existing Predix Services: Event Hub, Timeseries, and Splunk Log analysis.</p>
                        <p>Drive intiative for Splunk - Log Analysis effort leveraging Chef Automation to deploy Splunk forwarder across 100+ nodes across multiple AWS regions.</p>
                        <p>Drive intiative for Splunk integration with AWS Cloudtrail , AWS Config , and AWS ELBs for log analysis.</p>
                        <p>Lead new buildout of CI/CD Jenkins pipeline for the Cloud Automation and Provisioning team to streamline the development processes for Chef Cookbooks. Leveraged Rspec for Unit testing and Kitchen for Integration testing of Chef Cookbooks.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <hr>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">Jul 2016 - Nov 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><img src="assets/images/Tiny_Clevyr.png" alt="NCR Image"> Clevyr Inc</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed admin portal features consisting of improved searching, filtering, sorting, copying, and multi-delete of events. Leveraged front-end frameworks Angular.JS, back-end Node.JS server, with MongoDB (NoSQL) as the primary data store. </p>
                        <p>Developed and implemented a complete admin ACL (Access Control List) for Super Admins, Regional Admins, and Users. Worked closely with client to scope out requirements for each role. Feature implemented leveraging Angular.JS, Node.JS, and MongoDB (NoSQL).</p>
                        <p>Developed and prototyped the Next Gen Soji Community push notifications service for user event notifications and a server side pagination service for rendering lists of objects on any given React Component. Implemented basic notification and pagination features leveraging front-end frameworks React.JS/Redux.JS and JSON-Server for mocked data.</p>
                        <p>Led AWS cloud migration of existing services to the AWS ecosystem using EC2 (Ubuntu flavor), S3 Bucket, surrounded by Elastic Load Balancer for customer Community App instances. Custom configuration of server automated by Puppet Manifests and or Ansible Playbooks.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <hr>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time"> Mar 2015 - Jul 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><img src="assets/images/Tiny_Cisco.png" alt="NCR Image"> Cisco Systems</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>DevOps Evanglist - Build Engineer - CI/CD for Jabber XCP (XMPP)</b></p>
                        <p>Work closely with all functional teams to integrate new features and identify software defect fixes. Enforced mandatory code reviews for all changes and improved release frequency cycle by 100X. Striving to release to production multiple times per day to fulfill the Continuous Delivery model.</p>
                        <p>Continuous Delivery and Integration: Leveraged Jenkins, Puppet, and Fabric for Continuous Integration and Continuous deployments of Jabber services. Maintain existing Unit, Functional, Integration, and Load testing frameworks for Jabber Messenger Services.</p>
                        <p>Developed a Jenkins plugin written in Python to detect overall test coverage drop and memory leaks by performing statistical analysis on each build during functional and performance testing. This automated system compares metrics from previous builds to determine the overall health overtime of the Jabber Messenger code base.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <hr>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time"> Dec 2013 - Feb 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"><img src="assets/images/Tiny_TD.png" alt="TS Image"> TradeStation</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Web API - RESTful Web Service that provides TradeStation's real-time market data network and order-execution services for trading equities , options , and futures.</p>
                        <p>Developed an HTTP API automated testing framework for a distributed, real-time event publishing web service. This testing suite covers all streaming endpoints that consist of real-time and historical market data.</p>
                        <p>Developed an automated deployment system for the TradeStation Web API throughout all internal environments and production. Heavily leveraged Chocolatey (https://github.com/chocolatey/chocolatey) for automating installation of applications and applying server configurations per environment on Web Servers. </p>
                    </div><!--//details-->
                </div><!--//item-->
                <hr>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time"> Oct 2012 - Nov 2013</div>
                        </div><!--//upper-row-->
                        <div class="company"><img src="assets/images/Tiny_NCR.png" alt="NCR Image"> NCR Corporation</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Led all software localization/internationalization efforts for Restaurant Guard. Designed and Developed software enhancements for customers in multiple countries outside of the US. Leveraged the .NET Globalizing and Localizing patterns for this effort. Allowed Restaurant Guard to expand into Latin , European , and Asian international markets.</p>
                        <p>Developed feature for localizing the Restaurant Guard Data Conversion service. This C++ driven process converts point of sale transaction data to XML format using Unicode standards for character encodings to support any language.</p>
                        <p>Developed feature for localizing capabilities to the Restaurant Guard Report Engine service written in C#.  Implemented a framework for dynamically switching resource string files based on the company cultures settings. The Restaurant Guard Report Engine is built around the ActiveReports framework, a .NET reporting tool used to format various Restaurant Guard reports to PDF/Excel files.</p>
                        <p>Developed feature for localizing all PostgreSQL server and SQL Server for historical archive. Implemented database enhancements by altering database tables and enhancing ALL database stored procedures to support a Unicode character encoding.  </p>
                    </div><!--//details-->
                </div><!--//item-->
                <hr>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Systems Engineer</h3>
                            <div class="time"> Jul 2010 - Oct 2012</div>
                        </div><!--//upper-row-->
                        <div class="company"><img src="assets/images/Tiny_LM.png" alt="LM Image"> Lockheed Martin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Systems Integration and Test for the F-35 Joint Strike Fighter. The Lockheed Martin F-35 Lighting II is a fifth generation multi-role fighter to replace existing F-16, A-10, and F-18 jets currently in service. Performed Software Tests on the F-35 communication subsystems.</p>
                        <p>Database development test tool for System Integration and Test Team. Test Tool consisted of automating mapping of test results to requirements for real-time metrics for system integration team.</p>
                        <p>Perform Block 0.5 and Block 1.0 system testing, including stability, system integration, and system check-out. Identify problems and write Software Product Anomaly Reports (SPARs) to ensure products are remedied.</p>
                        <p>Performed all regression system tests for software package Block 0.5 and Block 1.0 on all Communication Link16 systems.</p>
                        <p>Developed test plans to provide the systems team with documentation on how features should be properly tested based on requirements set forth by F-35 design teams.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
