<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior DevOps Consultant</h3>
                            <div class="time">Dec 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><img src="assets/images/Tiny_GE.png" alt="GE Image"> New Context - GE Digital</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Cloud Automation and Provisioning Team for Predix Platform</p>
                        <p>Splunk , Jenkins Server Pipeline , Chef </p>
                    </div><!--//details-->
                </div><!--//item-->
                <hr>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">Jul 2016 - Nov 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><img src="assets/images/Tiny_Clevyr.png" alt="NCR Image"> Clevyr Inc</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>MEAN AND LAMP stack development.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <hr>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time"> Mar 2015 - Jul 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><img src="assets/images/Tiny_Cisco.png" alt="NCR Image"> Cisco Systems</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>DevOps Evanglist - Build Engineer - CI/CD for Jabber XCP (XMPP)</p>
                    </div><!--//details-->
                </div><!--//item-->
                <hr>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time"> Dec 2013 - Feb 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"><img src="assets/images/Tiny_TD.png" alt="TS Image"> TradeStation</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Web API - RESTful Web Service that provides TradeStation's real-time market data network and order-execution services for trading equities , options , and futures.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <hr>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time"> Oct 2012 - Nov 2013</div>
                        </div><!--//upper-row-->
                        <div class="company"><img src="assets/images/Tiny_NCR.png" alt="NCR Image"> NCR Corporation</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Led all software localization/internationalization efforts for Restaurant Guard. Designed and Developed software enhancements for customers in multiple countries outside of the US. Leveraged the .NET Globalizing and Localizing patterns for this effort. Allowed Restaurant Guard to expand into Latin , European , and Asian international markets.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <hr>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Systems Engineer</h3>
                            <div class="time"> Jul 2010 - Oct 2012</div>
                        </div><!--//upper-row-->
                        <div class="company"><img src="assets/images/Tiny_LM.png" alt="LM Image"> Lockheed Martin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Systems Integration and Test for the F-35 Joint Strike Fighter. The Lockheed Martin F-35 Lighting II is a fifth generation multi-role fighter to replace existing F-16, A-10, and F-18 jets currently in service. Performed Software Tests on the F-35 communication subsystems.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
