<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <!-- <p>My side projects or open source libraries in this section.</p> -->
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Mcharts - CDD Downloader</a></span> - <span class="project-tagline">A node.js script to automatically login into a patient portal and download CDD files.</span>
            </section><!--//section-->
