<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-code"></i>Tools</h2>
                <div class="intro">
                    <!-- <p>My side projects or open source libraries in this section.</p> -->
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Langugaes: </a></span><span class="project-tagline">HTML, CSS, JavaScript, Java, C, C++, C#, Python 2.7/3.0, GoLang, PHP, Perl, Bash, SQL , Ruby</span>
                    <span class="project-title"><a href="#hook">Platforms: </a></span><span class="project-tagline">Unix/Linux/Ubuntu/CentOS, Windows Server 2005/2008/2012, ASP.NET, Android OS, MacOS/iOS</span>
            </section><!--//section-->
